.expand-drawer-button {
    bottom: 0px;
    position:absolute;
}

.example-container {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0;
    right: 0;
  }

  .footer {
    margin: auto;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 40px;
    
}

.navigation-btns {
  min-height: 23px !important;
  min-width: 10px !important;
  padding:  5px !important;
  /* line-height: 0px;  */
}

.new-card-btn {
  margin-left: 30px;
  height: 30px;
}