<div class="outer-main-container">
  <!-- TODO: https://github.com/isaacplmann/ngx-contextmenu -->
  <!-- <div cdkDropListGroup class="all-lists">
      <div class="example-container">
        <h2>Icebox</h2>
        <div
          cdkDropList
          #iceboxList="cdkDropList"
          [cdkDropListData]="icebox"
          [cdkDropListConnectedTo]="[iceboxList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          
          <mat-card class="example-box" *ngFor="let item of icebox; let i = index" cdkDrag>
              <app-small-card [cardData]="item" (click)="itemClicked(item,i,icebox)"></app-small-card>
          </mat-card>
        </div>
      </div>
      <div class="example-container">
        <h2>To do</h2>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <mat-card class="example-box" *ngFor="let item of todo; let i = index" cdkDrag>
              <app-small-card [cardData]="item" (click)="itemClicked(item,i,todo)"></app-small-card>
          </mat-card>
        </div>
      </div>
      <div class="example-container">
        <h2>In progress</h2>
        <div
          cdkDropList
          #progressList="cdkDropList"
          [cdkDropListData]="progress"
          [cdkDropListConnectedTo]="[progressList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <mat-card class="example-box" *ngFor="let item of progress; let i = index" cdkDrag>
              <app-small-card [cardData]="item" (click)="itemClicked(item,i, progress)"></app-small-card>
          </mat-card>
        </div>
      </div>
      <div class="example-container">
          <h2>Done</h2>
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <mat-card class="example-box" *ngFor="let item of done; let i = index" cdkDrag>
                <app-small-card [cardData]="item" (click)="itemClicked(item, i, done)"></app-small-card>
            </mat-card>
          </div>
        </div>
    </div> -->


    <div class="all-lists" *ngFor="let week of weeks">
      <div class="example-container">
        <div class="section-heading">{{week.id}}</div>
    
        <div cdkDropList id="{{week.id}}" [cdkDropListData]="week.weeklist" [cdkDropListConnectedTo]="connectedTo"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <mat-card class="item-box" *ngFor="let item of week.weeklist; let i = index" cdkDrag>
            <app-small-card [cardData]="item" (click)="itemClicked(item, i, done, week.id)"></app-small-card>
          </mat-card>
        </div>
      </div>
    </div>


    <div class="tips">
        <p>Some tip of the day!</p>
    </div> 
</div>


